<section class="section">
    <fieldset>
        <legend>Create Account</legend>
        <form action="" id="login">
            <div class="campo">
                <label for="user">User:</label>
                <input type="text" id="user" class="typeable" placeholder="Type username...">
            </div>
            <div class="campo">
                <label for="password">Password:</label>
                <input type="password" id="password" class="typeable" placeholder="Type password..." >
            </div>
            <div class="campo">
                <label for="password">Verify Password:</label>
                <input type="password" id="password" class="typeable" placeholder="Retype password...">
            </div>
            <div class="campo">
                <input type="button" value="Access" id="access">
            </div>
        </form>
    </fieldset>
</section>
