<link rel="stylesheet" href="login-form.component.css">

<form>
    <fieldset>
        <legend>Iniciar Sesion</legend>
        <form action="">
            <div class="campo">
                <label for="usuario">Usuario:</label>
                <input type="text" id="usuario" placeholder="Ingrese usuario...">
            </div>
            <div class="campo">
                <label for="password">Contrasenia:</label>
                <input type="text" id="password" placeholder="Ingrese contrasenia...">
            </div>
            <input type="submit" value="Iniciar Sesion" id="button">
        </form>
    </fieldset>
</form>
