<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dungeon Legacy</title>
</head>
<body>
    <div class="contents">
        <img src="/assets/img/raven-image.png" alt="" id="home-image">
        <div class="text-contents">
            <h1>The Adventure Awaits You!</h1>            
            <p>Dungeon Legacy is a web-based RPG adventure, in which you will create your own character and set forth in search of treasures and fame. And if you are not able to survive the journey, then hopefully someone will follow your legacy.</p>
        </div>
    </div>
</body>
</html>
