<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Database</title>
</head>
<body>
    <table class="table">
        <thead class="table-header">
            <th>Usuario</th>
            <th>Fecha</th>
            <th>Puntaje</th>
        </thead>
        <tbody *ngFor="let item of list" class="table-body"> <!-- Por cada usuario crea rows  -->
            <tr *ngFor="let puntaje of item.puntajes"> <!-- Cada row del usuario tiene su puntaje -->
                <td>{{item.usuario}}</td>
                <td>{{puntaje.fecha}}</td>
                <td>{{puntaje.score}}</td>
            </tr>
        </tbody>
    </table>
</body>
</html>
